<!-- Para login -->
<div class="auth-container" *ngIf="!exibirCadastro">
  <h2>Login de Votante</h2>
  <div class="form-group">
    <input type="text" [(ngModel)]="usuario" placeholder="Usuário" />
  </div>
  <div class="form-group">
    <input type="password" [(ngModel)]="senha" placeholder="Senha" />
  </div>
  <button class="btn" (click)="logar()">Logar</button>
  <button class="btn btn-secondary" (click)="irParaCadastro()">Cadastrar Votante</button>
  <div *ngIf="mensagemErro" class="alert alert-danger">
    {{ mensagemErro }}
  </div>
</div>

<!-- Para cadastro -->
<div class="auth-container" *ngIf="exibirCadastro">
  <h2>Cadastro de Votante</h2>
  <div class="form-group">
    <input type="text" [(ngModel)]="usuarioCadastro" placeholder="Novo Usuário" />
  </div>
  <div class="form-group">
    <input type="password" [(ngModel)]="senhaCadastro" placeholder="Senha" />
  </div>
  <div class="form-group">
    <input type="password" [(ngModel)]="confirmarSenha" placeholder="Repita a Senha" />
  </div>
  <button class="btn" (click)="cadastrar()">Cadastrar</button>
  <div *ngIf="usuarioJaCadastrado" class="alert alert-danger">
    Este usuário já está cadastrado.
  </div>
</div>
