<div class="pauta-container">
  <h2>Gerenciamento de Pautas</h2>
  <div class="form-group">
    <input type="text" [(ngModel)]="newPauta" placeholder="Nova Pauta" />
    <button class="btn" (click)="cadastrarPauta()">Cadastrar Pauta</button>
  </div>

  <div *ngFor="let pauta of pautas" class="pauta-item">
    <h3>Pauta: {{ pauta.nome }}</h3>
    <p>Votos Sim: {{ pauta.votosSim }}</p>
    <p>Votos Não: {{ pauta.votosNao }}</p>
    <button class="btn" (click)="iniciarVotacao(pauta.id)" [disabled]="pauta.pautaEmVotacao || pauta.votacaoFinalizada">
      {{ pauta.pautaEmVotacao ? 'Votação Iniciada' : 'Iniciar Votação' }}
    </button>
    <button class="btn btn-secondary" (click)="encerrarVotacao(pauta.id)">
      Encerrar Votação
    </button>
    <p *ngIf="pauta.votacaoFinalizada" class="alert alert-info">Esta pauta já foi finalizada</p>
  </div>
</div>